
<div>

  <h4>About Burgato</h4>

  <p>
    The Burgato website is a delightful project created to show off .
    By building a Burger places review site, we can simultaneously imagine traveling
    AND eating great burgers.
  </p>
  {{#link-to 'burger-places.index' class="waves-effect waves-light red btn"}}
    Back to Reviews
  {{/link-to}}
</div>
