
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Burgato</h2>

  <p>
    The Burgato website is a delightful project created to show off .
    By building a Burger places review site, we can simultaneously imagine traveling
    AND eating great burgers.
  </p>
  {{#link-to 'contact' class="button"}}
    Get contact!
  {{/link-to}}
  {{#link-to 'index' class="button"}}
    Back to see all the Burger Places
  {{/link-to}}
</div>
