<div class="container">
  <h4 class="center-align">Welcome to Burgato!</h4>
    <img src="http://sudasuta.com/wp-content/uploads/2013/09/Burgers-21.jpg" id="landing-image">
  <p class="center-align">
    The best burger spots in Australia as rated by you.
    <br>Browse your favourite burger venues, or use the search box above to narrow your search. Rate and review your favourites.
  </p>
        <form>
          <div class="input-field z-depth-1">
            <input id="search" type="search" placeholder="Find your best burger">
            <i class="material-icons red-text">search</i>
          </div>
        </form>




{{#each model as |burgerPlaces|}}
<div>
  <article class="name">
    <h5>{{burgerPlaces.name}}</h5>
    <div class="rating left-align">
    <!-- <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span> -->
    {{star-rating item=burgerPlaces rating=burgerPlaces.reviewScore fullClassNames='fa fa-star' emptyClassNames='' }}

    </div>


    <div class="detail type">
      <span>Location:</span> {{burgerPlaces.address}}, {{burgerPlaces.suburb}}
    </div>
  </article>
</div>
{{/each}}

</div>
