
<div>
  <h4>Contact Us</h4>
  <p>Burgato Representatives would love to help you<br>and answer
    any questions you may have.</p>
  <p>
    Burgato HQ
    <address>
      12A William Street<br>
      Melbourne, 3000
    </address>
    <a href="tel:1800 Burgato">+61 (04) 244-773-33</a><br>
    <a href="mailto:help@burgato.com">burgatorep@burgato.com</a>
  </p>
  {{#link-to 'burger-places.index' class="waves-effect waves-light red btn"}}
    Back to Reviews
  {{/link-to}}

</div>
